params {
    cnv = null
    sv = null
    fusion = true
    translocation = true
    patterns = "${projectDir}/assets/patterns.csv"
    fields = "${projectDir}/assets/fields.csv"
    gene_list = "${projectDir}/assets/NO_FILE"
    sample_id = "variants"
    out_dir = "${launchDir}"
}

apptainer {
    enabled=true
    autoMounts=true
    libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
    cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
}