params {
    cnv = null
    sv = null
    snp = null
    info = "${projectDir}/assets/info.csv"
    format = "${projectDir}/assets/format.csv"
    gene_list = "${projectDir}/assets/gene_list"
    sample_id = "variants"
    out_dir = "${projectDir}/output"
    help = false
}

profiles {
    standrard {
        docker.enabled=true
    }
    drac {
        apptainer {
        enabled=true
        autoMounts=true
        libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
        cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
        process {
            withName:gatk_table {
                clusterOptions = "--cpus-per-task=4 --mem 10G --time=1:00:00"
            }
            withName:bcf_selectFields {
                clusterOptions = "--cpus-per-task=4 --mem 5G --time=1:00:00"
            }
            withLabel:rscript {
                clusterOptions = "--cpus-per-task=4 --mem 5G --time=1:00:00"
            }
        }
    }
}