params {
    in_dir = null
    info = "${projectDir}/assets/info.csv"
    format = "${projectDir}/assets/format.csv"
    stjude_list = "${projectDir}/assets/gene_list"
    cancer_genes = "${projectDir}/assets/cancer_genes"
    out_dir = params.in_dir
    help = false
}

profiles {
    standrard {
        docker.enabled=true
        autoMounts=true
    }
    drac {
        apptainer {
            enabled=true
            autoMounts=true
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
        process {
            withName:gatk_table {
                clusterOptions = "--cpus-per-task=4 --mem 10G --time=1:00:00"
            }
            withLabel:rscript {
                clusterOptions = "--cpus-per-task=10 --mem-per-cpu 20G --time=1:00:00"
            }
        }
    }
}